html,
body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.a1 {
    padding: 10px;
    display: block;
    color: black;
    align-items: center;
    text-align: right;
    background-color: rgb(207, 94, 53);
    margin: 0px 30px 0px 95%;
    border-radius: 20px;
}

.a1:hover {
    color: white;
}

.ul li {
    list-style: none;
    text-align: center;
}

.ul a {
    display: block;
    text-decoration: none;
    padding: 20px 0px;
    color: black;
    margin-left: -40px;
}

.ul a:hover {
    background-color: rgb(207, 94, 53);
    color: white;
}

.cabeca h1 {
    color: rgb(207, 94, 53);
    font-size: 30px;
    font-weight: bold;
    margin-left: 50px;
    border: 1px solid red;
}

.section-2 h1 {
    color: rgb(130, 123, 118);
    text-align: center;
    font-size: 30px;
    margin: 50px 50px 0px;
}

.section-2 p {
    color: rgb(130, 123, 118);
    font-size: 20px;
    text-align: center;
    margin: 30px 70px 0px;
}

footer a {
    color: black;
    font-size: 20px;
    display: block;
    text-align: center;
    background-color: rgb(207, 94, 53);
    padding: 20px 50px;
    margin: 50px 100px 0px;
    text-decoration: none;
    border-radius: 30px;
}

footer a:hover {
    color: white;
}